# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/

# Build Folder
dist/
build/

# Temporary Files
temp/
tmp/

# Coverage
coverage/